* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kanit", Helvetica, sans-serif;
  background-color: gainsboro;
  color: rgb(31, 29, 29);
  line-height: 1.6;
}

.container {
  /* border: 1px solid rgb(68, 0, 255);
  padding: 15px;
  margin: 15px; */
}
/* ========================================================================== 
    Header section
========================================================================== */

.site-header {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(110deg, darkblue, blue);
}
.brand {
  /* border: 1px solid rgb(0, 255, 0); */
  /* padding: 15px; */
  margin: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: aliceblue;
}
.brand-logo {
  font-size: 30px;
  background-color: yellow;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-text h2 {
  font-size: 24px;
  font-weight: bold;
}
.brand-text p {
  font-size: 14px;
  opacity: 0.9;
}
/* navbar */
.main-nav {
  /* border: 1px solid rgb(0, 255, 0); */
  padding: 15px;
  margin: 15px;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav-list a {
  color: aliceblue;
  text-decoration: none;
  padding: 8px 15px;

  transition: 0.4s;
}
.nav-list a:hover {
  color: rgb(250, 1, 1);
  text-decoration: none;
  background-color: rgba(240, 255, 255, 0.555);
  border-radius: 8px;
}

/* ========================================================================== 
    Main section
========================================================================== */
.main-layout {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */
  display: grid;
  /* grid-template-columns: 1fr 390px; */
  grid-template-columns: 70% 30%;

  padding: 20px 22px;
}
/* left content */
.left-content {
  /* border: 1px solid rgb(68, 0, 255);
  padding: 15px;
  margin: 15px; */
}
.hero {
  /* border: 1px solid rgb(68, 0, 255);
  padding: 15px;
  margin: 15px; */
  padding: 26px 36px;
  border-radius: 36px;

  display: grid;
  grid-template-columns: 1.5fr 0.8fr;

  background: linear-gradient(90deg, white, hsl(64, 100%, 50%));
  box-shadow: 0 4px 8px rgb(119, 119, 119);

  align-items: center;
}

.hero-text h1 {
  font-size: 36px;
  color: crimson;
  line-height: 1.8;
}

.hero-text p {
  font-size: 21px;
  color: rgba(220, 20, 60, 0.801);
  font-weight: 600;
}

.hero-photo img {
  width: 200px;
  height: 300px;

  border: 2px solid rgb(255, 238, 4);
  box-shadow: 0 4px 8px black;

  object-fit: fill;

  /*
    object-fit: contain ➡️เห็นภาพครบ รักษาสัดส่วน (อาจมีขอบว่าง)
    object-fit: fill ➡️ยืดภาพให้เต็มกล่อง ภาพอาจบิด (สัดส่วนเพี้ยน)
    object-fit: cover ➡️ครอปภาพให้เต็มกล่อง รักษาสัดส่วน บางส่วนของภาพจะถูกตัดออก
    */
}
.card {
  border: 1px solid gray;
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 26px 36px;
  box-shadow: 0 4px 8px rgb(119, 119, 119);
  margin-top: 20px;
}

.card-header-title {
}

.card-header-title h2 {
  color: crimson;
}
.card-body-grid {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: 8px;
}
/* =============== RESULT =================== */
.result-panel,
.code-panel,
.side-card {
  border: 1px solid gray;
  border-radius: 8px;
  overflow: hidden;
}
.result-panel-header,
.code-panel-header {
  background-color: aquamarine;
  color: crimson;
  padding: 0px 20px;
  font-weight: bold;
}
.result-panel-body {
  padding: 5px 20px 10px 20px;
  line-height: 2;
}
.result-panel-body a {
  display: block;
  color: blue;
}
.result-panel-body a:hover {
  display: block;
  color: red;
}
.result-panel-body span {
  background-color: blue;
  border-radius: 8px;
  margin-right: 5px;
}
.backbutton {
  border: 2px solid blue;
  border-radius: 8px;
  display: inline-block !important;
  padding: 0px 20px;

  text-decoration: none;
}

/* ====================================================== */
/* =============== CODE PANEL =================== */
.code-panel {
  background-color: #000000;
}
/* .code-panel-header {

} */

.code-panel-body {
  color: white;
}

.code-list {
  padding: 20px 40px;
}
.code-list li {
  padding: 0px 20px;
}

.tag {
  color: lightcoral;
}
.attr {
  color: darkseagreen;
}
.value {
  color: greenyellow;
}

/* ====================================================== */

/* ================================= IMAGE EX ================ */

.result-panel-body-3g {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: baseline;
  text-align: center;
  padding: 20px;
}

/* right sidebar */
.right-sidebar {
  /* border: 1px solid rgb(68, 0, 255); */
  padding: 15px;
  margin: 15px;
}

.side-card {
  background-color: white;
  padding: 20px;
  margin-bottom: 15px;
}
.side-card-body-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.side-card-body span {
  background-color: blue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  padding: 12px;
}
.side-card-body-2 p {
  text-align: center;
}
.cornerbox {
  border-radius: 15px;
}
.side-card-body-2 p:nth-child(1) {background-color: lightcoral;color: red;}
.side-card-body-2 p:nth-child(2) {background-color: lightgreen;color: green;}
.side-card-body-2 p:nth-child(3) {background-color: rgb(30, 130, 163);color: blue;}
.side-card-body-2 p:nth-child(4) {background-color: rgb(13, 235, 235);color: rgb(198, 248, 248);}
.side-card-body-2 p:nth-child(5) {background-color: rgb(13, 235, 235);
  color: rgb(198, 248, 248);}
.side-card-body-2 p:nth-child(6) {background-color: rgb(245, 38, 72);
  color: rgb(240, 110, 136);}
.side-card-body-2 p:nth-child(7) {background-color: rgb(247, 247, 76);
  color: #d6a500;}
.side-card-body-2 p:nth-child(8) {background-color: #f1d91e;
  color: #c9a600;}

/* .colorRed {
  background-color: lightcoral;
  color: red;
}

.colorgreen {
  background-color: lightgreen;
  color: green;
}

.colorblue {
  background-color: rgb(30, 130, 163);
  color: blue;
}

.colorcyan {
  background-color: rgb(13, 235, 235);
  color: rgb(198, 248, 248);
}

.colorcrimson {
  background-color: rgb(245, 38, 72);
  color: rgb(240, 110, 136);
}

.colorlightblue {
  background-color: #3bafe0;
  color: #a2cef3;
}

.coloryellow {
  background-color: rgb(247, 247, 76);
  color: #d6a500;
}

.colorlightyellow {
  background-color: #f1d91e;
  color: #c9a600;
} */

 .activity span {
  /* background-color: blue; */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  padding: 15 px;


  text-align: center;
  justify-content: center;
  
  
}

.activity li {
  display: flex;
  gap: 20px;
}

.activity {
  list-style-type: none;
}

.activity li:nth-child(1) span {background-color: lightcoral;color: red;}
.activity li:nth-child(2) span {background-color: lightgreen;color: green;}
.activity li:nth-child(3) span {background-color: rgb(30, 130, 163);color: blue;}
.activity li:nth-child(4) span {background-color: rgb(13, 235, 235);color: rgb(198, 248, 248);}
.activity li:nth-child(5) span {background-color: rgb(13, 235, 235);
  color: rgb(198, 248, 248);}
.activity li:nth-child(6) span {background-color: rgb(245, 38, 72);
  color: rgb(240, 110, 136);}



.submit-card {
  display: flex;
  background-color: #f5ce4d;
  border-color: #faeb79;
}
.submit-card div:nth-child(1){font-size: 26px;}
/* ========================================================================== 
    Footer section
========================================================================== */
.tipbox {
  border: 3px solid red;
  padding: 15px;
  margin: 15px;
  background-color: rgb(138, 245, 245);
  border-radius: 16px;
  border-color: #2c1ef1;

  display: flex;
  gap: 20px;
  align-items: center;
}

.tip-icon {
font-family: georgia;
font-size: 45px;
line-height: 30px;
background-color: #0b3d91;
color: white;

border-radius: 50%;
width: 65px;
height: 65px;
padding: 20px;

text-align: center;
justify-content: center;
}

.tip-content h2 {
    color: #0b3d91;
    font-size: 24px;
    margin-bottom: 4px;
}

.tip-content p {
    font-size: 15px;
    color: #1f2937;
}
.tip-photo p:nth-child(1){font-size: 45px;}
.tip-photo p:nth-child(2){font-size: 45px;}

.tip-content div {
    color: #e11d48;
    font-family: Consolas, monospace;
    font-weight: bold;
}

/* 
========================================================================
      R   E   S   P   O   N   S I V E
========================================================================
*/
@media (max-width:1200px) {
  /* .container {background-color: red;} */
  .main-layout {
    grid-template-columns: 1fr;
  }
  .right-sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

}

@media (max-width:992px) {
  /* .container {background-color: yellow;} */
  .right-sidebar {
    grid-template-columns: 1fr;
  }
  .card-body-grid {
  grid-template-columns: 1fr;
  }
  .tip-photo p:nth-child(1){display: none;}
  .tip-photo p:nth-child(2){display: none;}
  .tipbox {
    grid-template-columns: 90px 1fr;
  }
  .hero {display: flex; flex-direction: column;gap: 50px;}
  .hero-photo img {
  width: 80%;
  height: auto;
  }
  .result-panel-body-3g {
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
}


@media (max-width:768px) {
  /* .container {background-color: green;} */
  .right-sidebar {
    grid-template-columns: 1fr;
  }
  .card-body-grid {
  grid-template-columns: 1fr;
  }
  .tip-photo p:nth-child(1){display: none;}
  .tip-photo p:nth-child(2){display: none;}
  .tipbox {
    grid-template-columns: 90px 1fr;
  }
  .hero {display: flex; flex-direction: column;gap: 50px;}
  .hero-photo img {
  width: 80%;
  height: auto;
  }
  .result-panel-body-3g {
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
}